{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>

    <!-- BOOTSTRAP CSS (Потрібно ставити ПЕРЕД твоїми css файлами) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- Твої стилі -->
    <link rel="stylesheet" href="{% static 'navigate.css' %}">
    <link rel="stylesheet" href="{% static 'banner.css' %}">
    <link rel="stylesheet" href="{% static 'about_me.css' %}">


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<!-- Header  start-->
<header class="site-header">
  <!-- Left logo  start-->
  <div class="logo">LOGO WILL BE HERE</div>
  <!-- NAVIGATE MENU  start-->
  <div class="menu-container">
    <div class="menu">
      <a href="#" class="link">
        <span class="link-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="192"
            height="192"
            fill="currentColor"
            viewBox="0 0 256 256"
          >
            <rect width="256" height="256" fill="none"></rect>
            <path
              d="M213.3815,109.61945,133.376,36.88436a8,8,0,0,0-10.76339.00036l-79.9945,72.73477A8,8,0,0,0,40,115.53855V208a8,8,0,0,0,8,8H208a8,8,0,0,0,8-8V115.53887A8,8,0,0,0,213.3815,109.61945Z"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            ></path>
          </svg>
        </span>
        <span class="link-title">Home</span>
      </a>
      <a href="#" class="link">
        <span class="link-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="192"
            height="192"
            fill="currentColor"
            viewBox="0 0 256 256"
          >
            <rect width="256" height="256" fill="none"></rect>
            <polyline
              points="76.201 132.201 152.201 40.201 216 40 215.799 103.799 123.799 179.799"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            ></polyline>
            <line
              x1="100"
              y1="156"
              x2="160"
              y2="96"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            ></line>
            <path
              d="M82.14214,197.45584,52.201,227.397a8,8,0,0,1-11.31371,0L28.603,215.11268a8,8,0,0,1,0-11.31371l29.94113-29.94112a8,8,0,0,0,0-11.31371L37.65685,141.65685a8,8,0,0,1,0-11.3137l12.6863-12.6863a8,8,0,0,1,11.3137,0l76.6863,76.6863a8,8,0,0,1,0,11.3137l-12.6863,12.6863a8,8,0,0,1-11.3137,0L93.45584,197.45584A8,8,0,0,0,82.14214,197.45584Z"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            ></path>
          </svg>
        </span>
        <span class="link-title">Games</span>
      </a>
      <a href="#" class="link">
        <span class="link-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="192"
            height="192"
            fill="currentColor"
            viewBox="0 0 256 256"
          >
            <rect width="256" height="256" fill="none"></rect>
            <path
              d="M45.42853,176.99811A95.95978,95.95978,0,1,1,79.00228,210.5717l.00023-.001L45.84594,220.044a8,8,0,0,1-9.89-9.89l9.47331-33.15657Z"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            ></path>
            <line
              x1="96"
              y1="112"
              x2="160"
              y2="112"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            ></line>
            <line
              x1="96"
              y1="144"
              x2="160"
              y2="144"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            ></line>
          </svg>
        </span>
        <span class="link-title">Chat</span>
      </a>

      <a href="#" class="link">
        <span class="link-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="192"
            height="192"
            fill="currentColor"
            viewBox="0 0 256 256"
          >
            <rect width="256" height="256" fill="none"></rect>
            <circle
              cx="116"
              cy="116"
              r="84"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            ></circle>
            <line
              x1="175.39356"
              y1="175.40039"
              x2="223.99414"
              y2="224.00098"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            ></line>
          </svg>
        </span>
        <span class="link-title">Search</span>
      </a>
      <a href="#" class="link">
        <span class="link-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="192"
            height="192"
            fill="currentColor"
            viewBox="0 0 256 256"
          >
            <rect width="256" height="256" fill="none"></rect>
            <circle
              cx="128"
              cy="96"
              r="64"
              fill="none"
              stroke="currentColor"
              stroke-miterlimit="10"
              stroke-width="16"
            ></circle>
            <path
              d="M30.989,215.99064a112.03731,112.03731,0,0,1,194.02311.002"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            ></path>
          </svg>
        </span>
        <span class="link-title">Profile</span>
      </a>
    </div>
  </div>
</header>
<!-- Header  end -->

<!-- Banner start -->
<section class="hero-section">
    <div class="hero-content">

        <h1 class="hero-title">
            Я Владислав Зарва<br>
            <span class="highlight">L2 Support / Automation Dev</span>
        </h1>
<div class="icons-row">
    <a href="#"><img src="{% static 'images/linkedin.png' %}" alt="linkedin"></a>
    <a href="#"><img src="{% static 'images/telegram.png' %}" alt="telegram"></a>
    <a href="#"><img src="{% static 'images/instagram.png' %}" alt="instagram"></a>
</div>

    </div>

    <div class="hero-image">
        <img src="{% static 'images/me.png' %}" alt="my photo">
    </div>

    <img src="{% static 'images/shape1.png' %}" class="shape s1">
    <img src="{% static 'images/shape2.png' %}" class="shape s2">
    <img src="{% static 'images/shape3.png' %}" class="shape s3">


</section>

<!-- Banner end -->
<!-- ABOUT ME start -->
<section class="about-section">
    <div class="about-card">
        <h2 class="about-title">Про мене</h2>

        <p class="about-text">
            Привіт! Мене звати Владислав Зарва. Я працюю у сфері
            <strong>L2 Support</strong>, займаюся автоматизацією процесів,
            пишу скрипти, будую пайплайни та оптимізую бізнес-логіку.
        </p>

        <p class="about-text">
            Маю досвід з <strong>Python, SQL, Airflow, Linux, Oracle</strong>,
            створюю Telegram-ботів та люблю проєкти з автоматизації.
        </p>

        <ul class="about-list">
            <li>🔸 2+ років у L2 Support & automation</li>
            <li>🔸 Створюю зручні інструменти для аналітиків</li>
            <li>🔸 Пишу боти, автопроцеси та парсери</li>
            <li>🔸 Фокус на якості та чистому коді</li>
        </ul>
    </div>
</section>
<!-- ABOUT ME end -->
<script src="{% static 'scroll_effect.js' %}"></script>
</body>
</html>
