.about-section {
    width: 90%;
    max-width: 1400px;
    margin: -120px auto 80px auto;  /* overlap */
    padding-top: 160px;
}


.about-card {
    background: #2d2d2d;
    color: #fff;
    padding: 40px 50px;
    border-radius: 30px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.about-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 35px rgba(0,0,0,0.45);
}

.about-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #c9a86a; /* GOLD */
}

.about-text {
    font-size: 17px;
    opacity: 0.9;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-list {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.about-list li {
    font-size: 16px;
    margin-bottom: 10px;
    opacity: 0.85;
}
